/*le style de le conteneur principal */
body {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%; 
  
  height: 100%;
}

*{
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}



main {
  /* la position du conteneur comme relative c-a-d il est positionné par rapport à sa position d'origine*/
  position: relative;
  width: 100%;
  height: 100%;
  /*les marges supérieure et inférieure à 0, et les marges gauche et droite à auto*/
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100%;
  /*dégradé linéaire et 225deg : Spécifie l'angle du dégradé*/
  background: linear-gradient(225deg, #fff1f1, #e8f8fa);
}

nav {
  position: static;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 96px;
  z-index: 1000;
}

.logo {
  width: 90px;
  height: 36px;
  margin-right: 40Px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.items {
  display: flex;
  gap: 48px;
}

.button-Access {
  display: flex;
  align-items: center;
  /*Centre verticalement les enfants*/
  justify-content: center;
  /*Centre horizontalement les enfants*/
  position: absolute;
  width: 127px;
  height: 40px;
  top: 28px;
  right: 156px;
  padding: 8px 24px;
  cursor: pointer;
  /* el cursor ywali yed */
  background: transparent;
  border: 1px solid rgba(21, 19, 44, 0.12);
  border-radius: 6px;
  /* arrondir les coins */
}

.get-access {
  height: 24px;
  color: #111127;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  /* l'épaisseur de la police */
  line-height: 24px;
  /* la hauteur de la ligne */
  text-align: left;
  white-space: nowrap;
  /* l'espacement du texte */
}

.item {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 29px;
  color: rgba(18, 17, 39, 0.72);
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  white-space: nowrap;
}


.phone-img {
  position: absolute;
  width: 327px;
  height: 635px;
  left: 648px;
}

.phone-img img {
  width: 100%;
  height: 100%;
}

.image-NewYear {
  position: absolute;
  width: 123px;
  height: 194px;
  top: 77px;
  left: 939px;
  border-radius: 12px;
}

.image-NewYear img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.card1 {
  display: flex;
  /* afficher les éléments en ligne */
  flex-direction: column;
  /* afficher les éléments en colonne */
  gap: 24px;
  position: absolute;
  width: 456px;
  height: 397px;
  top: 85px;
}

.cardText {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 456px;
}

.title1 {
  display: flex;
  position: relative;
  width: 456px;
  height: 201px;
  color: #070e25;
  font-family: Poppins, var(--default-font-family);
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
  text-align: left;
}

.text1 {
  display: flex;
  flex-shrink: 0;
  position: relative;
  width: 456px;
  height: 108px;
  color: rgba(18, 17, 39, 0.56);
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
}

.buttonsCard {
  display: flex;
  gap: 16px;
  position: relative;
  width: 328px;
}

.button-get-started {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 156px;
  padding: 14px 32px 14px 32px;
  cursor: pointer;
  background: #434bd3;
  border: none;
  border-radius: 8px;
}

.get-started {
  display: flex;
  justify-content: center;
  position: relative;
  width: 92px;
  height: 24px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.button-learn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 156px;
  padding: 14px 32px 14px 32px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(18, 17, 39, 0.12);
  border-radius: 8px;
  box-sizing: content-box;
}

.learn-more {
  display: flex;
  position: relative;
  color: #111127;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.blog {
  background: #ffffff;
}
.card-blog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  z-index: 1;
}
.card-blog-1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.from-the-blog {
  color: #434bd3;
  font-family: Poppins, var(--default-font-family);
  font-weight: 600;
  line-height: 23.8px;
  text-transform: uppercase;
}
.design-intelligence-visible {
  height: 56px;
  color: #111127;
  font-family: Poppins, var(--default-font-family);
  font-size: 40px;
  font-weight: 700;
}
.creativity-highfalutin-work {
  color: rgba(18, 17, 39, 0.56);
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
}
.ligne {
  align-self: stretch;
  height: 1px;
  background: rgba(18, 17, 39, 0.12);
}
.flex-row-blog {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.article {
  display: flex;
  flex-direction: column;
}
.frame-1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}
.frame-2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.article-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  padding: 1px 16px 1px 16px;
  background: #fce7f3;
  border-radius: 100px;
}
.design-article {
  display: flex;
  width: 40px;
  height: 22px;
  color: #ec4899;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 21.6px;
}
.design-guide {
  display: flex;
  width: 360px;
  height: 56px;
  color: #111127;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}
.typography-article {
  display: flex;
  width: 360px;
  height: 87px;
  color: rgba(18, 17, 39, 0.56);
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
}

.user {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  width: 207px;
}
.image {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
}
.ellipse {
  width: 100%;
  height: 100%;
  background: url(../images/user.png)
    no-repeat center;
  background-size: 100% 100%;
  border-radius: 50%;
}
.name-user {
  display: flex;
  flex-direction: column;
  width: 147px;
}
.kristin-watson {
  height: 25px;
  color: #111127;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
}

.jun-read {
  height: 22px;
  color: rgba(18, 17, 39, 0.56);
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21.6px;
}
.video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 360px;
}
.frame-3 {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 24px;
}
.frame-4 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.video-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  padding: 1px 16px 1px 16px;
  background: #fff4e6;
  border-radius: 100px;
}
.design-video {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 36px;
  height: 22px;
  color: #f25722;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 21.6px;
}
.dashboard-features {
  display: flex;
  color: #111127;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}
.dashboard-article {
  display: flex;
  width: 360px;
  height: 87px;
  color: rgba(18, 17, 39, 0.56);
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
}
.case {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 360px;
}
.frame-5 {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 24px;
  min-width: 0;
}
.frame-6 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.case-box {
  display: flex;
  width: 102px;
  padding: 1px 16px 1px 16px;
  background: #bbf3f7;
  border-radius: 100px;
}
.case-study {
  display: flex;
  color: #2a7576;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 600;
  line-height: 21.6px;
}
.mobile-apps-typography {
  display: flex;
  color: #111127;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.health-platform {
  display: flex;
  width: 360px;
  height: 87px;
  color: rgba(18, 17, 39, 0.56);
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
}
.article-date {
  flex-shrink: 0;
  color: rgba(18, 17, 39, 0.56);
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}
.newsletter {
  padding: 100px 0px;
  background: #ffffff;
}

.cardnewsletter {
  background: #434bd3;
  border-radius: 16px;
  display: flex; 
  flex-wrap: nowrap;
  gap: 32px;
  padding: 56px 48px;
  box-shadow: 0 20px 50px 0 rgba(18, 17, 39, 0.08); 
}

.text-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 12px;
}

.newsletter-signup-title {
  position: relative;
  height: 45px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 44.8px;
  text-align: left;
}

.newsletter-signup-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 575px;
  height: 58px;
  color: rgba(255, 255, 255, 0.56);
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
}

.input-button {
  display: flex;
  flex-direction: column;
  gap: 12px;

}

.notif {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.button {
  display: flex;
  align-items: center;
  gap: 156px;
  padding: 6px 16px 5px 16px;
  background: #ffffff;
  border: none;
  border-radius: 8px;
}

.input {
  border: none;
  padding: 14px 32px 14px 32px;
  background: #ffffff;
  border-radius: 8px;
  color: rgba(18, 17, 39, 0.4);
  
}

.buttonN {
  display: flex;
  position: relative;
  padding: 14px 32px 14px 32px;
  cursor: pointer;
  background: #6068db;
  border: none;
  border-radius: 8px;
  
}


.text-we-care {
  position: relative;
  color: rgba(255, 255, 255, 0.48);
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.privacy-policy {
  position: relative;
  color: #599bf9;
  font-family: Poppins, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

/* Footer styles */
footer {
  background: #ffffff;
  color: #0c0b0b;
  width: 100%;
  padding: 40px 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 32px;
  position: relative;
  width: 569px;
  margin: 56px 0 0 435.5px;
}

.itemsfooter {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 48px;
  position: relative;
  width: 569px;
}

.itemfooter {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 29px;
  color: rgba(18, 17, 39, 0.56);
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  white-space: nowrap;
}

.imagesSocial {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 48px;
  position: relative;
  width: 240px;
}

.social-icons {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
}

.group {
  position: relative;
  width: 24px;
  height: 23.853px;
  margin: 0px 0 0 0;
}

.img-fb {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../images/fb.png) no-repeat center;
  background-size: 100% 100%;
}

.img-twitter {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../images/twitter.png) no-repeat center;
  background-size: 100% 100%;
}

.img-insta {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../images/insta.png) no-repeat center;
  background-size: 100% 100%;
}

.img-git {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../images/git.png) no-repeat center;
  background-size: 100% 100%;
}

.copyright {
  flex-basis: auto;
  position: relative;
  height: 29px;
  color: rgba(18, 17, 39, 0.56);
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  white-space: nowrap;
}